.table-head{
  width: 300px;
  text-align: left;
  background-color: rgb(233, 233, 238);
  
}
tbody td{
  text-align: center;
  
 
  width: 65px;
}
.td-ptag{
  background: linear-gradient();
  text-align: center;
}
.div-ele{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0%;
}
p{
  margin: 0 ;
}
.table-head1{
  width: 300px;
  text-align: justify;
  padding-left: 30px;
  
  
}